.cardContent{
  padding: .3em;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: .2em;
}

.title{
  text-align: center;
  padding: .2em;
  color: white;
  font-weight: bolder;
}

.cardProduct{
  position: relative;
  padding: .5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .3em;
}

.item{
  padding: .2em;
  background-color: aliceblue;
  border-radius: .2em;
  color: black;
}

.name , .price{
  padding: .2em;
}


.name em , .price em{
  padding: .3em;
}

.bigPrice{
  border-radius: .3em;
border-bottom: 3px solid green;
}


.cardbtn{
  padding: .2em;
}
